#box { width: 100px; height: 100px; position: absolute; background: gray; left: 200px; top: 200px; }
#box {
    background-image: url("img2.jpeg");
    background-size: cover;
}
body {
    background-color: #111;
}